<!DOCTYPE html>
<html>
<head>
  <title>白黒つけようぜ。</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header'%>
  <div class="container container_content">
    <div class="row">
      <div class="col-md-9 main_color">
        <%= yield %>
      </div>
      <%= render 'layouts/sidebar'%>
    </div><!-- .row -->
  </div><!-- .container -->

  <%= render 'layouts/footer'%>
</body>
</html>
